.gitignore
Assets/SignCert.pfx
Assets/SignCertPasswd.txt
/Tests
/AutoHotkey-MSIX-base/VFS/ProgramFilesX64/AutoHotkey
/AutoHotkey-MSIX-release
/AutoHotkey-MSIX-base-*
AutoHotkey_*_setup.exe
*.msix
Report.xml
resources.pri